/* ************************ */
/* BELOW 944px (Tablets)*/
/* ************************ */

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 */
    font-size: 50%;
  }
}

/* ************************ */
/* BELOW 704px (Smaller Tablets)*/
/* ************************ */

@media (max-width: 44em) {
  html {
    font-size: 35%;
  }
}

/* ************************ */
/* BELOW 432px (Smaller Tablets)*/
/* ************************ */

@media (max-width: 27em) {
  html {
    font-size: 30%;
  }

  .guess-number {
    font-size: 3rem;
  }
}
